
<footer id="section-footer" class="section-footer" role="contentinfo">
    <div class="outer-container">
        <div class="inner-container">
            <div class="widget-area">
                <div class="site-title-container ">
                 
                        <a class="site-title" href="{{ site.url }}" rel="home" title="{{ __('Go to') }} {{ site.name }}"> 
                        	{{ site.name }}
                        </a>
                
                </div>
				<div class="address-container  ">
				
                        <address>
                        	{% if  theme.contact_info.address_1 %}
                            	<span>{{ theme.contact_info.address_1 }}</span>
                            {% endif %}
                            {% if  theme.contact_info.address_2 %}
                            	<span>{{ theme.contact_info.address_2 }}</span>
                            {% endif %}
                            {% if  theme.contact_info.city or theme.contact_info.state or theme.contact_info.zipcode  %}
                            	<span>{% if  theme.contact_info.city %}{{ theme.contact_info.city }},{% endif %} {{ theme.contact_info.state }} {{ theme.contact_info.zipcode }}</span>
								<span>USA</span>
                            {% endif %}	
                            {% if  theme.contact_info.phone %}
                            	<br/><span><i class="btl bt-phone"></i> <a href="tel:{{ theme.contact_info.phone }}">{{ theme.contact_info.phone }}</a></span>
                            {% endif %}	
                            {% if  theme.contact_info.fax %}
                            	<span><i class="btl bt-fax"></i>{{ theme.contact_info.fax }}</span>
							{% endif %}	
							{% if  theme.contact_info.contact_email %}	
                            	<span><i class="btl bt-envelope"></i><a href="mailto:{{ theme.contact_info.contact_email }}">{{ theme.contact_info.contact_email}}</a></span>
                            {% endif %}		
                        </address>
				
                </div>

            
                 <div class="social-container ">
                
                {% include 'navigation.twig' with {'nav_obj' : social_nav, 'menu_class' : 'social-navigation'} %} 
               
                 </div>
            </div><!-- .widget-area -->
        </div><!-- .inner-container -->
	</div><!-- .outer-container -->
</footer><!-- .site-footer -->

	 