{#
<svg viewBox="{{ svg.viewbox }}">
    {% if svg.title %}<title>{{ svg.title }}</title>{% endif %}
    <use xlink:href="{{ svg.img_dir ~ svg.url }}#{{ svg.symbol }}"></use>
#}
    <image src="{{ svg.img_dir ~ svg.url }}" width="829"  height="136"/>
{# </svg> #}